*.exe
*.o
*.d
*.save
*.swp
.cccc/*
perf.data
backup/*
tests/*
deprecated/*
editor
newlevel
platformer
rapidjson\\*
rapidjson/writer.h
rapidjson/stringbuffer.h
rapidjson/stream.h
rapidjson/schema.h
rapidjson/reader.h
rapidjson/rapidjson.h
rapidjson/prettywriter.h
rapidjson/pointer.h
rapidjson/ostreamwrapper.h
rapidjson/msinttypes/stdint.h
rapidjson/msinttypes/inttypes.h
rapidjson/memorystream.h
rapidjson/memorybuffer.h
rapidjson/istreamwrapper.h
rapidjson/internal/swap.h
rapidjson/internal/strtod.h
rapidjson/internal/strfunc.h
rapidjson/internal/stack.h
rapidjson/internal/regex.h
rapidjson/internal/pow10.h
rapidjson/internal/meta.h
rapidjson/internal/itoa.h
rapidjson/internal/ieee754.h
rapidjson/internal/dtoa.h
rapidjson/internal/diyfp.h
rapidjson/internal/clzll.h
rapidjson/internal/biginteger.h
rapidjson/fwd.h
rapidjson/filewritestream.h
rapidjson/filereadstream.h
rapidjson/error/error.h
rapidjson/error/en.h
rapidjson/encodings.h
rapidjson/encodedstream.h
rapidjson/document.h
rapidjson/cursorstreamwrapper.h
rapidjson/allocators.h
Ascii-Platformer.vcxproj
Ascii-Platformer.vcxproj.filters
